# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Compilación
dist/
build/
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# MongoDB
/data
/dump
mongodb.log

# Logs
logs/
*.log

# Testing
coverage/
.nyc_output/

# Otros
*.orig
*.tmp
.cache/